body {
    background-color: white;
  }
  button {
    margin: 20px;
    background-color: orange !important ;
  }
  
  #newBurger {
    padding-right: 400px;
    float: right;
  }
  
  img {
    justify-content: center;
  }
  
  .devoured-burgers {
    margin: 20px;
  }
  
  #eatenBurger {
    margin: 10px;
  }
  
  h6 {
    text-align: center;
  }